# Ignore virtual environment and environment files
.env
weather_pipeline_environment/

# Ignore Python bytecode cache
__pycache__/

# Ignore cached API responses (sqlite files)
.geocache.sqlite
.cache.sqlite